services: 
  - type: web 
    name: proctoring-system 
    runtime: node 
    region: oregon 
    buildCommand: npm install 
    startCommand: node server.js 
    envVars: 
      - key: NODE_ENV 
        value: production 
